*{
    box-sizing: border-box;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

a:link, a:visited{
    text-align: center;
    text-decoration: none;
    color: white;
}

.container {
    width: 960px;
    margin: 0 auto;
}

nav {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 80;
}

nav ::after {
    content: "";
    display: block;
    clear: both;
}

.nav-logo {
    color: aliceblue;
    font-size: 80px;
    float: left;
    margin: 0;
}

/*********************************************************************************************************************/

.tittle {
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    margin-left: 150px;
    margin-top: 100px;
}

.main {
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 27px;
    margin-bottom: 200px;
    margin-left: 150px;
}

.main2{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 27px;
    margin-bottom: 100px;
    margin-left: 150px;
}

.main3{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 27px;
    margin-left: 150px;
    margin-bottom: 70px;
}




/*********************************************************************************************************************/
.line {
    border-top: 1px solid #ffffff;
    width: 90%;
    margin: auto;
}


.ft {
    padding: 100px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
