*{
    box-sizing: border-box;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

a:link, a:visited{
    text-align: center;
    text-decoration: none;
    color: white;
}

.container {
    width: 900px;
    margin: 0 auto;
}

nav {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 80;
}

nav ::after {
    content: "";
    display: block;
    clear: both;
}

.nav-logo {
    color: aliceblue;
    font-size: 80px;
    float: left;
    margin: 0;
}



/*section*/

.sec {
    height: 700px;
    line-height: 200px;
    color: white;
    font-size: 60px;
    text-align: center;
}

.sec ::after {
    content: "";
    display: block;
    clear: both;
}

.main {
    list-style-type: none;
    margin: 0;
}
.main li:hover{
    background-color: gray;
    text-decoration: underline;
}


.line {
    border-top: 1px solid #ffffff;
    width: 90%;
    margin: auto;
}


/*footer*/
.ft {
    padding: 100px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}
